.rightNavMainDiv {
    position:fixed; top:60px; 
    right:0%; 
    float: right; 
    margin: 1%; 
    width:19%
}
@media screen and (max-width :1024px){
    .rightNavMainDiv{
            display: none;
    }
}