.secondMainSection{
    background-color: lightblue; 
    width:35%; 
    top:20%; 
    height: 65vh; 
    position: absolute;  
    left: 50%;
}

.registerRow {
    margin-left: 10px;
    width:100%;
}

.dobH6Style {
    margin-left:10px;
     margin-top:5px
}

.cancelBtn{
    margin-right:12px; 
    margin-left: 5px;
    float:right;
}
.emailOrPhoneSlash{
    margin:2px; 
    font-size: 150%;
}


@media screen and (max-height:640px){
    .secondMainSection{
        height: 90vh;
    }
    .emailOrPhoneSlash{
        font-size: 220%;
    }
}

/*
@media screen and (max-height:320px){
    .secondMainSection{
        height: 90vh;
    }
}
*/
@media screen and (max-width :590px){
    .secondMainSection{
        display:none;
        background-color:khaki; 
        width:100%; 
        top:10%; 
        font-size: 60%;
        height: 60vh;
        position: absolute;  
        left: 0px;
        padding-right: 10px;
        align-self: center;
    }            
}
