.firstMainSection{
    background:lightblue; 
    width:30%; 
    top:20%; 
    height:100px;
    width:35%;  
    position: absolute;  
    right: 60%; 
}

.secondMainSection{
    background-color: lightblue; 
    width:35%; 
    top:20%; 
    height:400px; 
    position: absolute;  
    left: 50%;}

.registerRow {
    margin-left: 10px;
    width:100%;
}

.dobH6Style {
    margin-left:10px;
     margin-top:5px
}

@media screen and (max-width :590px){
    .secondMainSection{
        display: none;
    }            
}
