@font-face{font-family:'Calluna';
    src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}

   .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 150px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 250px;
    font-size: 120%;
    text-align: center;
}
   #columns {
    column-width: 310px;
    column-gap: 10px;
    width: 90%;
    max-width: 1920px;
    margin: 10px auto;    
   }
   
   div#columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 10px 0 2px 10px;
    padding: 15px;
    min-width: 360px;
    padding-bottom: 10px;
    display: inline-block; 
    column-break-inside: avoid;
    /*box-shadow: 0px 0.5px 0.5px 0.5px;
       background: #fefefe;
       padding-bottom: 10px;
       min-width: 30%;
       max-width: 100%;*/
   }  
   
   div#columns figure p {
       width: 100%; 
       height: auto;
       border-bottom: 1px solid #ccc;
       padding-bottom: 15px;
       margin-bottom: 5px;
   }
   
   div#columns figure figcaption {
     font-size: .9rem;
       color: #444;
     line-height: 1.5;
   }
   
   div#columns small { 
     font-size: 1rem;
     float: right; 
     text-transform: uppercase;
     color: #aaa;
   } 
   
   div#columns small a { 
     color: #666; 
     text-decoration: none; 
     transition: .4s color;
   }   

   .Chat_Comments_Div{
    margin: 0px;
    padding: 2px;
     max-height: 100px;
    overflow-y: auto;  
    border:solid lightgrey 1px;  
   }

   .Chat_Body_Div{
     padding: 5px;
    max-height: 500px;
    overflow-y: auto;
    overflow: auto;
   }

   .newchat_input{
    display:inline-block; 
    height:10vh;
    width:93%;
    border: solid darkgrey 3px;
   }
   
   .newchat_btn{
    width:6%; 
    display:inline-block; 
    height:10vh;
   }

   .mobNavMenu{
     display: none;
   }

   .change-avatar-tittle {
    width:100%; 
    padding-bottom:10px; 
    border-bottom: solid #993366 1px;
  }
   .avatarInput{
    font-size:150%; 
    text-align: center; 
    margin-top:15px;
    border: solid darkgray 3px;
   }
   
   /*div#columns:hover figure:not(:hover) {
       opacity: 0.4;
   }*/
   
   @media screen and (max-width: 750px) { 
     #columns { column-gap: 3px; }
     #columns figure { width: 100%; }
   }

  ul{
  text-decoration: none;
  text-decoration-style: none;
  padding: 10px;  
  }

   li {
     list-style: none;
     text-decoration:none;
     margin: 10px;
   }

   .navMenu{
    position: fixed; 
    width: 60px;
    left:0px; 
    top:0px;
    background-color: #993366;
    opacity: 0.8;
    color: whitesmoke;
    height: 100vh;
   }

   .navMenu li{
     margin-top: 50px;
   }

   .thumbsStyle{
    padding:5px; 
    border:solid 1px black; 
    margin:10px; 
    float:right;
   }

   .headerIcons{
     float: right;
   }

   .chat_card_header{
     margin: 0px;
     padding: 0px;
    width:100%;
    display: inline-block;
    border-bottom: solid #993366 1px;
  }
  
  .webheader{
  text-align: center;
   width:10%;
}
  .main_post_input{
    right:0px; 
    position:fixed; 
    height: 70px; 
    bottom:0px; 
    width:100%; 
    background-color:  #fefefe;
  }

  .comment_box{
    display:inline-block;
     width:90%;
     font-size: 80%;
     margin-top: 5px;
     border: solid darkgray 3px;
  }

  @media screen and (max-width:1024px) {
    .main_post_input{
      margin: 0px;
      height: 50px;
      bottom: 10px;
    }
    .newchat_input {
      margin:0px;
    }
    .newchat_btn {
      padding: 0px;
    }
  }
  
  @media screen and (max-width:800px) {
    #columns {
      width: 100%;
      padding: 5px;      
    }
    .modal{
      padding-top: 70px;
    }

    div#columns figure{
      margin-left: 5px;
      max-width: 440px;
    }
    .navMenu{
      display: none;
    }
    
    .mobNavMenu{
      display: block;
    }

    .mobNavMenu {
      background-color: #993366;   
      width: 100%;
      position: fixed;
      height: 50px;
      left: 0px;
      top: 90%;
      color: white;
    }
    
    .mobNavMenu li {
      display: inline-block;
      padding-top:0px; 
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 25%; 
      }
      
    .mobNavMenu li:first-child {
      margin-left: 5px; 
    }

    .thumbsStyle{
      display: inline-block;
      float: none;
    }
    
    .main_post_input{
      margin: 0px;
      height: 50px;
      bottom: 40px;
    }
    
    .newchat_input {
      margin:0px; 
    }
    .newchat_btn {
      padding: 0px;
    }
  }

  @media screen and (max-width:414px) {
    #columns {
      width: 100%;
    }
    
    div#columns figure{
      margin-left: 5px;
      max-width: 390px;
    }
    
    .modal{
      padding-top: 200px;       
    }
    
    .main_post_input {
      margin: 0px;
      height: 40px;
      bottom: 33px;
    }
    
    .newchat_input {
     width: 87%;
     font-size: 90%;
     height: 40px;
    }
    .newchat_btn {
      width: 10%;
      height: 35px;
    } 
    .mobNavMenu {
      top:95%;
      height: 35px;
      font-size: 60%;
      margin-top: 5px;
    }

    .avatarInput {
      font-size: 100%;
    }
  }

  @media screen and (max-width: 375px) {
    .mobNavMenu {
      margin-top:0px; 
    }
   

    div#columns figure {
      min-width: 355px;
      max-width: 355px;
    }    
  }

  @media screen and (max-width: 360px) {
    div#columns figure {
      min-width: 340px;
      max-width: 340px;
    }
  }

  @media screen and (max-width: 320px) {
    .mobNavMenu {
      margin-top:0px; 
      height: 35px;
    }    
    .main_post_input {
      margin: 0px;
      height: 40px;
      bottom: 25px;
    }

    div#columns figure {
      min-width: 300px;
      max-width: 300px;
    }

    .mobNavMenu li{
      margin-left: 55px;
      margin-top: -12px;
    }

    .newchat_btn {
      padding: 0px;
      font-size: 70%; 
    } 

    .change-avatar-tittle {
      font-size: 80%;
    }
    .avatar-modal-btn{
      width:45%;
      font-size: 70%;
    }
    .avatarInput{
      font-size: 70%;
    }
  }

  @media screen and (max-width:240px) {
    .mobNavMenu {
      margin-top: 5px; 
    }
    
    div#columns figure {
      max-width: 230px;
    }
  }