<div id="columns">
  <div *ngIf="viewSelectedChat!=null">
    <figure>

      <header class="chat_card_header">
        <label style="margin:0px; padding:5px;"> {{viewSelectedChat.owner.name}} </label>
      </header>
      <div style="width:100%; display: inline-block;">
        <label style="font-size:50%"> {{viewSelectedChat.createdDate}} </label>
      </div>
      <div>
        <p style="border:none; margin-top:0px;">
          {{viewSelectedChat.body}}
        </p>
        <div style="margin-left:5px; margin-bottom:5px; width:80%">
          <div style="display:inline-block;">
            <label *ngIf="viewSelectedChat.post.length > 0" style="margin:0px">{{viewSelectedChat.post.length}}</label>
            <label *ngIf="viewSelectedChat.post.length == 0" style="margin:0px"></label>
            <i class="fa fa-comment-o"></i>
          </div>
          <div style="margin-left:30px; display:inline-block; padding:0px;">
            <label *ngIf="viewSelectedChat.likes.length == 0" style="margin:0px"> </label>
            <label *ngIf="viewSelectedChat.likes.length > 0" style="margin:0px">
              {{viewSelectedChat.likes.length}}</label>
            <i *ngIf="viewSelectedChat.isLiked" (click)="removeChatLike(viewSelectedChat)" style="color:#428bca;" class="fa fa-thumbs-o-up"></i>
            <i *ngIf="!viewSelectedChat.isLiked" (click)="createNewChatlike(viewSelectedChat)" class="fa fa-thumbs-o-up"></i>
          </div>
          <div style="margin-left:30px; display:inline-block; padding:0px;">
            <i *ngIf="!viewSelectedChat.isReported" class="fa fa-thumbs-o-down" (click)="reportChat(viewSelectedChat)"></i>
            <i *ngIf="viewSelectedChat.isReported" style="color:red" class=" fa fa-thumbs-down" (click)="unreportChat(viewSelectedChat)"></i>
          </div>
        </div>
      </div>
      <div style="width:100%; display:block; margin-top:0px;" class="Chat_Comments_Div" *ngIf="viewSelectedChat.post.length > 0">
        <div *ngFor="let item of viewSelectedChat.post">
          <label style="display:block; font-size:70%; margin:0px;">
            <strong>{{item.avatar.name}}</strong>
            <label style="font-size:40%; float:right">{{item.createdDate}}</label>
          </label>
          <label style="font-size:70%">{{item.body}}</label>
          <hr style="margin:0px">
        </div>
      </div>
      <figcaption>
        <input class="form-control comment_box" [(ngModel)]="comment" type="text" placeholder="Say something.....">
        <i (click)='createNewPost(viewSelectedChat)' style="color:#428bca;" class="fa fa-send"></i>
      </figcaption>
    </figure>
  </div>
  <div class="navMenu mobNavMenu">
    <ul>
      <li>
        <i [routerLink]="['/landing']" class="fa fa-home fa-2x"></i>
      </li>
      <li>
        <i class="fa fa-phone fa-2x"></i>
      </li>
      <li>
        <i class="fa fa-facebook fa-2x"></i>
      </li>
      <li>
        <i [routerLink]="['/profile']" class="fa fa-user fa-2x"></i>
      </li>
      <li>
        <i [routerLink]="['/login']" class="fa fa-sign-out fa-2x"></i>
      </li>
    </ul>
  </div>
</div>